*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.main_container{
  width: 70%;
  height: 98vh;
  border: 1px solid rgb(117, 104, 104);
 
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
 
 
}

.upper_section{
  width: 100%;
  height: 25vh;

  display: block;
  text-align: center;
  display: flex;
 
}
.time{
width: 8%;
height: 11vh;
border: 1px solid black;
border-radius: 50%;
margin-left: 2rem;
margin-top: 3rem;
margin-right: 2rem;
display: flex;
align-items: center;
justify-content: center;

}
.circle{
  width: 10%;
  height: 5vh;
  border-radius: 50%;
  border: 1px solid black;
}
.category{
  width: 70%;
  height: 25vh;
 
}


.score{
  width: 20%;
  height: 25vh;
 
 
}
.quiz{
  width: 95%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
 border: 1px solid black;
 border-radius: 2rem;
  display: block;
  text-align: center;
  
}
.question{
  width: 8%;
  height: 10vh;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  left: 25rem;
  bottom: 2.7rem;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;
  }
.option1{
  width: 100%;
  height: 21vh;

  display: block;
  text-align: center;
}
.option2{
  width: 100%;
  height: 10vh;

  display: block;
  text-align: center;
  margin-top: 1rem;
}
.ans1{
  display: flex;
}
.ans{
  width: 35%;
  height: 8vh;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
 border: 2px solid  rgb(18, 173, 234);
 border-radius: 2rem;
 background-color: white;
 opacity: 0.7;
 text-align: center;
 padding-top: 1rem;
}
.ans2{
  display: flex;
}
.next{
  width: 20%;
  height: 8vh;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
 
 border: 2px solid  rgb(18, 173, 234);
 border-radius: 2rem;
 background-color:white;
 opacity: 0.7;
 text-align: center;
 padding-top: 1rem;
}